plugins {
    id 'nf-ospool@0.1.0'
}

process {
    executor = 'ospool'
}

// Enable Singularity for containers
singularity {
    enabled = true
    autoMounts = true
}

executor {
    $ospool {
        submitFileDir = "${HOME}/.nextflow/ospool-submit"
    }
}

workDir = '/staging/groups/YOUR_GROUP/nextflow-work'
