plugins {
    id 'nf-ospool@0.1.0'
}

// Use the OSPool executor for all processes
process {
    executor = 'ospool'
}

// Configure the OSPool executor
executor {
    $ospool {
        // Directory where HTCondor submit files will be written
        // Must be on a filesystem accessible from the submit node
        // but NOT in /staging (HTCondor cannot submit from /staging)
        submitFileDir = "${HOME}/.nextflow/ospool-submit"
    }
}

// Work directory must be on shared storage accessible by compute nodes
// For CHTC, this should be in /staging
workDir = '/staging/groups/YOUR_GROUP/nextflow-work'
